<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  {{> header}}
  <p>Project page text here</p>
  <!-- <footer>
    <p>Copyright {{currentYear}}</p>
  </footer> -->
  {{> footer}}
  </body>
</html>
